<h1>{{message}}</h1>
<!--<div id="grid1" ui-grid="gridOptions1" class="grid"></div>-->

<div>
   <!-- Single selection grid without rowHeader, and allowing rowSelection to be toggled on and off dynamically:
    <br/>
    <button type="button" class="btn btn-success" ng-click="toggleRowSelection()">Toggle rowSelection</button>  <strong>rowSelection:</strong> <span ng-bind="gridApi.grid.options.enableRowSelection"></span>
   -->
    <div ui-grid="gridOptions" ui-grid-selection class="grid" ui-grid-pagination></div>
</div>
<!--
<div id="grid2" ui-grid="gridOptions2" class="grid"></div>-->
